.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

p {
        font-size: 20px;
}

li {
    width: 49%;
    list-style-type: none;
}

#photo {
    background-color: #718099;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#portrait {
    border: 5px solid white;
    border-radius: 7px;
}

#bio, #edu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#edu h1 {
    -ms-flex-item-align: start;
        align-self: flex-start;
}

#edu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#edu img {
    height: 60px;
    width: 60px;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    border-radius: 50%;
    margin-right: 2rem;
}

#edu img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

h1 {
    margin-bottom: 2rem;
}

ul {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


#contact-info i {
    font-size: 3rem;
    float: right;
    cursor: pointer;
    margin-left: 1rem;
}
