.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

p {
        font-size: 20px;
}

li {
    width: 49%;
    list-style-type: none;
}

#photo {
    background-color: #718099;
    display: flex;
    justify-content: center;
}

#portrait {
    border: 5px solid white;
    border-radius: 7px;
}

#bio, #edu {
    display: flex;
    flex-direction: column;
}

#edu h1 {
    align-self: flex-start;
}

#edu li {
    display: flex;
    justify-content: space-between;
}

#edu img {
    height: 60px;
    width: 60px;
    transition: transform .3s ease-in-out;
    border-radius: 50%;
    margin-right: 2rem;
}

#edu img:hover {
    transform: scale(1.2);
}

h1 {
    margin-bottom: 2rem;
}

ul {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#contact-info a {
    font-size: 3rem;
    float: right;
    cursor: pointer;
    margin-left: 1rem;
}
